# Ignore embedded Git repositories
/crmgreensinais/
/football/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore environment folders
/venv/
/env/

# Ignore database files
*.sqlite3
*.db

# Ignore logs
*.log

# Ignore local settings
local_settings.py

# Ignore media and static files (if they're generated)
/media/
/static/

# Ignore .env files which might contain secrets
.env 